@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f6fa;

}

* {

  box-sizing: border-box;

}

.ql-toolbar {
  overflow-x: auto;
}

.ql-container {
  min-height: 300px;
}

.ql-editor {
  min-height: 260px;
}